article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(../images/background-img2.jpg) center;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/background-img2.jpg) center;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/background-img2.jpg) center;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/background-img2.jpg) center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover; }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

.eyes div:first-child {
  padding-top: 20px; }

.box-shadow {
  -webkit-box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.4); }

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;
  width: 65%; }

.header-div {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 1px solid white;
  padding: 10px 10px;
  margin: 50px; }

.first-section {
  height: 97vh;
  text-align: center; }
  .first-section h1 {
    font-size: 75px; }
  .first-section__div--h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 27px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5); }

.first-section > * {
  margin: 0; }

.first-section h1 {
  padding-top: 100px;
  margin-bottom: 100px; }

input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 50px;
  border-bottom: 5px solid steelblue;
  border-top: none;
  border-left: none;
  border-right: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#90D5DA), to(#75D1B6));
  background: -webkit-linear-gradient(#90D5DA, #75D1B6);
  background: -o-linear-gradient(#90D5DA, #75D1B6);
  background: linear-gradient(#90D5DA, #75D1B6);
  color: seashell;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px grey;
  box-shadow: 0px 2px 10px grey;
  -webkit-transition: 150ms ease;
  -o-transition: 150ms ease;
  transition: 150ms ease; }

input[type="submit"]:active {
  border: none;
  border-bottom: 2px solid steelblue;
  -webkit-box-shadow: 0px 1px 5px grey;
  box-shadow: 0px 1px 5px grey;
  background: -webkit-gradient(linear, left top, left bottom, from(#53AFFF), to(#5FCDFF));
  background: -webkit-linear-gradient(#53AFFF, #5FCDFF);
  background: -o-linear-gradient(#53AFFF, #5FCDFF);
  background: linear-gradient(#53AFFF, #5FCDFF);
  color: #FFF; }

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center; }

fieldset {
  font-family: 'Indie Flower', sans-serif;
  margin-bottom: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hair {
  background-color: rgba(98, 203, 203, 0.4); }

.eyes {
  background-color: rgba(83, 150, 198, 0.4); }

.mouths {
  background-color: rgba(133, 214, 146, 0.4); }

.upperBodys {
  background-color: rgba(200, 91, 122, 0.4); }

.lowerBodys {
  background-color: rgba(121, 137, 210, 0.4); }

.footwears {
  background-color: rgba(198, 83, 188, 0.4); }

label {
  font-size: 25px;
  padding-bottom: 20px;
  color: white; }

input[type="radio"] {
  margin-left: 30px; }

.fieldset__div {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

fieldset h3 {
  font-size: 30px;
  text-align: center;
  color: #c9f1ff; }

.submit-button {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  padding-bottom: 50px; }

.result {
  height: 97vh;
  padding-top: 200px; }
  .result__div {
    text-align: center;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 50px 40px;
    font-family: 'Indie Flower', cursive; }
    .result__div h2 {
      font-size: 40px; }
    .result__div h3 {
      font-size: 25px; }

.result > * {
  margin: 0; }

.twitterBtn {
  text-align: center; }

@media (max-width: 1180px) {
  .wrapper {
    width: 90%; }
  .first-section h1 {
    margin-bottom: 80px; }
  input[type="submit"] {
    width: 30%; } }

@media (max-width: 960px) {
  .first-section h1 {
    font-size: 50px; }
  .wrapper {
    width: 95%; }
  input[type="submit"] {
    width: 40%; } }

@media (max-width: 600px) {
  .wrapper {
    width: 100%; }
  .first-section h1 {
    font-size: 40px;
    padding-top: 90px;
    margin-bottom: 100px; }
  .first-section__div--h3 {
    font-size: 15px;
    padding: 15px; }
  .header-div h1 {
    font-size: 25px; }
  fieldset {
    width: 95%; }
  form h3 {
    font-size: 21px; }
  label {
    font-size: 18px; }
  input[type="radio"] {
    margin-left: 0; }
  input[type="submit"] {
    width: 50%; }
  .submit-button {
    font-size: 20px; }
  .fieldset__div {
    padding-left: 50px; }
  .result {
    padding-top: 200px; } }
